# Set the following depending on what components you wish to install
# Just leave blank/empty if you don't want to install the component
#INSTALL_LIM=
#INSTALL_SSC=
#INSTALL_SCSAST=
#INSTALL_SCDAST=
#INSTALL_SCDAST_SCANNER=
# kind settings - default to "max" or configure based on your memory
#KIND_MEM=16384
#KIND_CPUS=max
# Ports to use on local machine to expose services
HOST_HTTP_PORT=8080
HOST_HTTPS_PORT=8443
# Default Signing Password (generate using `openssl rand -base64 32`)
CERTIFICATE_SIGNING_PASSWORD=
# Default SSC Admin User
SSC_ADMIN_USER=admin
SSC_ADMIN_PASSWORD=
# DockerHub login credentials to fortifydocker organisation
DOCKERHUB_USERNAME=
DOCKERHUB_PASSWORD=
# Path to openssl on Windows - example for when Git for Windows installed
OPENSSL_WINDOWS_PATH=C:\\Program Files\\Git\\mingw64\\bin\\openssl.exe
# Path to openssl on Linux
OPENSSL_LINUX_PATH=/usr/bin/openssl
# Version on ScanCentral to use
SCANCENTRAL_VERSION=25.4
# Fortify Demo App to create
SSC_APP_NAME=FortifyDemoApp
SSC_APP_VER_NAME=1.0
# LIM configuration
LIM_ADMIN_USER=limadm
LIM_ADMIN_PASSWORD=
LIM_POOL_NAME=Default
LIM_POOL_PASSWORD=
# Debricked Access Token
DEBRICKED_TOKEN=
# Version of Helm charts to use
LIM_HELM_VERSION=25.4.0
SSC_HELM_VERSION=25.4.1-1
SCSAST_HELM_VERSION=25.4.0-1
SCDAST_HELM_VERSION=25.4.0
SCDAST_SCANNER_HELM_VERSION=25.4.0
#MYSQL_HELM_VERSION=10.3.0
POSTGRES_HELM_VERSION=9.4.11
