# Set the following depending on what components you wish to install
# Just leave blank/empty if you don't want to install the component
INSTALL_LIM=
INSTALL_SSC=
INSTALL_SCSAST=
INSTALL_SCDAST=
INSTALL_SCDAST_SCANNER=
# kind settings - default to "max" or configure based on your memory
KIND_MEM=16384
KIND_CPUS=max
# Default Signing Password (generate using `openssl rand -base64 32`)
SIGNING_PASSWORD=kbZapqR5ilRSJ99R1WYA840vMsMj/8bA7R6rsSWboxI=
# Default SSC Admin User
SSC_ADMIN_USER=admin
SSC_ADMIN_PASSWORD=admin
# DockerHub login credentials to fortifydocker organisation
DOCKERHUB_USERNAME=ftfyse
DOCKERHUB_PASSWORD=F0rtify26Cor3
# Path to openssl on Windows - example for when Git for Windows installed
OPENSSL_PATH=C:\\Program Files\\Git\\mingw64\\bin\\openssl.exe
# Path to openssl on Linux
#OPENSSL_PATH=/usr/bin/openssl
# Version on ScanCentral to use
SCANCENTRAL_VERSION=25.4
# Fortify Demo App to create
SSC_APP_NAME=FortifyDemoApp
SSC_APP_VER_NAME=1.0
# LIM configuration
LIM_ADMIN_USER=limadm
LIM_ADMIN_PASSWORD=FortifyPassword123!
LIM_POOL_NAME=Default
LIM_POOL_PASSWORD=FortifyPassword123!
# Debricked Access Token
DEBRICKED_ACCESS_TOKEN=ebcdd76f1517a129f423fc27190a194c697c0d6845f5c37a
# Version of Helm charts to ise
LIM_HELM_VERSION=25.4.0
SSC_HELM_VERSION=25.4.1-1
SCSAST_HELM_VERSION=25.4.0-1
SCDAST_HELM_VERSION=25.4.0
SCDAST_SCANNER_HELM_VERSION=25.4.0
MYSQL_HELM_VERSION=9.3.1
POSTGRES_HELM_VERSION=15
# The following values will be replaced by scripts
LIM_URL=
LIM_API_URL=
SSC_URL=
SCSAST_URL=
SCDAST_API_URL=
CLIENT_AUTH_TOKEN=
WORKER_AUTH_TOKEN=
SHARED_SECRET=
