apiVersion: v1
kind: Service
metadata:
  name: mssql
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
      protocol: TCP
      name: tcp
  selector:
    app.kubernetes.io/name: {{ include "mssql-official.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
